@inject UserSessionService UserSession
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Shrine ACU Portal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (!UserSession.IsAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetch-login">
                    <span class="bi bi-person-circle" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetch-carshows">
                    <span class="bi bi-car-front" aria-hidden="true"></span> Car Shows
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetch-signup">
                    <span class="bi bi-person-plus" aria-hidden="true"></span> Signup
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetch-scoring">
                    <span class="bi bi-clipboard-check" aria-hidden="true"></span> Scoring
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        UserSession.StateChanged += HandleSessionChanged;
    }

    private void HandleSessionChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        UserSession.StateChanged -= HandleSessionChanged;
    }
}

